body {
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    text-transform: uppercase;
    font-size: 1.8rem;
    margin: 20px 0 20px 10px;
}

h2 {
    text-transform: uppercase;
    font-size: 1.9rem;
    margin: 40px 0 60px 10px;
}

h3 {
    font-size: 1.2rem;
}


ul {
    display: flex;
    align-items: center;
    list-style: none;
    padding: 0;
}

.home-nav {
    position: relative;
    left: 5;
}


.products-nav {
    position: absolute;
    left: calc(50% + 225px);
    font-size: 1rem;
}

@media (max-width: 768px) {
    .products-nav {
        position: relative;
        left: 50px;
        font-size: 1rem; 
    }
}

.login-nav {
    position: absolute;
    right: 60px;
}

.login-container {
    position: relative;
    top: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cart-nav {
    position: absolute;
    right: 15px;
}

a {
    text-decoration: none;
    text-transform: uppercase;
    color: black;
}

a:hover {
    color: #636363; 
}

.material-symbols-outlined {
    font-size: 35px !important;
}

#userForm {
    display: flex;
    flex-direction: column;
    align-items: center;
}

input, button {
    border: none;
}

input {
    width: 300px;
    margin-top: 17px;
    padding: 12px 14px;
    background-color: rgb(234, 234, 234);
}

button {
    width: 100px;
    margin-top: 25px;
    padding: 12px 18px;
    background-color: black;
    color: white;
    text-transform: uppercase;
    font-size: 0.7rem;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

button:hover {
    background-color: #6b6b6b; 
}
  
button:active {
    transform: scale(0.80); 
}

#productContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.product {
    width: calc(33.33% - 10px);
    margin: 30px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.increase, .decrease {
    width: 35px;
    height: 35px;
    padding: 5px;
    margin: 2px;
    font-size: 1.1rem;
}

